<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.doing.dinavigator">

    <application>
        <activity
            android:name=".BottomNavigationActivity"
            android:exported="false"
            android:label="@string/title_activity_bottom_navigation" />
        <activity
            android:name=".NavMainActivity"
            android:exported="false">
        </activity>
    </application>

</manifest>