<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.doing.dirouter">

    <application>
        <activity
            android:name=".page.GlobalErrorActivity"
            android:exported="false" />
        <activity
            android:name=".page.MemberBenefitsActivity"
            android:exported="false" />
        <activity
            android:name=".page.ChargeActivity"
            android:exported="false" />
        <activity
            android:name=".page.ProfileDetailActivity"
            android:exported="false" />
        <activity
            android:name="com.doing.dirouter.RouterMainActivity"
            android:exported="false" />
    </application>

</manifest>