<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.doing.poet">

    <application>
        <activity
            android:name=".kotlin.KotlinPoetActivity"
            android:exported="false" />
        <activity
            android:name=".java.JavaPoetActivity"
            android:exported="false" />
        <activity
            android:name=".PoetActivity"
            android:exported="false" />
    </application>

</manifest>